body{
    margin: 0;
    top: 0;
    padding: 0;
    right: 0;
}
.navbar-logo{
    font-size: 30px;
}
.navbar {
    position: fixed;
    padding: 26px ;
    width: 100%;
    display: flex;
    padding-top: 20px;
    padding-bottom: 40px;
    justify-content: space-between;
    height: 9px;
    background-color: beige;
  }
  
  li {
    display:inline-block;
    list-style-type: none;
    margin: 0 12px;
    padding-right: 50px;
    font-weight: bold;
  }
li:hover{
    color: blue;
    cursor: pointer;
    text-decoration: underline;
  }
.Name{
    color: rgb(243, 247, 248);
}
.hero {
  background-image: url('./images/hero.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 219px;
  height: 500px;
  padding-left: 103px;
  
}
.Domain{
    color: blue
}
h1 {
  font-size: 36px;
  margin-bottom: 15px;
}

button {
  margin-top: 35px;
  padding: 12px 30px;
  background: #52647E;
  color: white;
  border-radius: 10px;
}

.journey{
  background: #618379;
}
.h2{
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 40px;
  padding: 30px;
}
.journey-list{
  display: flex;
  padding: 2rem;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.journey-card{
  border-radius: 30px;
  justify-items: start;
  background-color: white;
  padding: 30px;
}

.journey-image{
  border-radius: 10px;
  width: 400px;
}
footer {
  background: #333232;
  text-align: center;
  color: white;
  padding: 30px;
}
#abt{
  text-align: center;
}
/* #about{
 display:block;
 padding: 20px;
 margin-left: 600px;
 margin-top: 20px;
 text-align: center;
 border-radius: 10px;
 width: 600px;
 box-shadow: 3px 20px 30px rgba(0, 0, 0, 0.5);
}
.tech{
  display: block;
}
#goal{
  display:block;
  padding: 20px;
  margin-left: 600px;
  margin-top: 20px;
  text-align: center;
  border-radius: 10px;
  width: 600px;
  font-size: 1.4rem;
  margin-bottom: 10px;
  box-shadow: 3px 20px 30px rgba(0, 0, 0, 0.5);
} */